<%= link_to "new todo", new_todo_path %>
<% @todos.each do |list, todos| %>
  <h2><%= list %></h2>
  <ul>
    <% todos.each do |todo| %>
      </li>
        <%= link_to todo.title, todo %>
      </li>
    <% end %>
  </ul>
<% end %>



