<form accept-charset="UTF-8" action="/todos" class="new_todo" id="new_todo" data-remote="true" method="post">
 <label for="todo_title">Title</label>
 <input id="todo_title" name="todo[title]" size="30" type="text">
 <label for="todo_body">Body</label>
 <input id="todo_body" name="todo[body]" size="30" type="text">
 <label for="todo_list_name">List name</label>
 <input id="todo_list_name" name="todo[list_name]" size="30" type="text" value="">
 <input name="commit" type="submit" value="Create Todo">
</form>
